<nav class="navbar navbar-light navbar-expand-lg bg-white clean-navbar">
  <div class="container"><a class="navbar-brand logo" href="#">Compra Certa</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'estoque' %}">ESTOQUE</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'entrada' %}">ENTRADA</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'saida' %}">SAÍDA</a></li>
              <li class="nav-item"><a class="nav-link" href="/admin/estoque/produto/">PRODUTOS</a></li>
              <li class="nav-item"><a class="nav-link" href="/admin/estoque/fornecedor/">FORNECEDORES</a></li>
              <li class="nav-item"><a class="nav-link" href="/admin/">ADMIN</a></li>
          </ul>
      </div>
  </div>
</nav>