{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estoque - Compra Certa</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/headers.css' %}">
    </head>
    


    <body>
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                            <h1>Compra Certa</h1>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li><a href="/admin/estoque/produto/">Entrada/Saída</a></li>
                        <li><a href="/admin/estoque/fornecedor/">Fornecedores</a></li>
                        <li><a href="/admin/estoque/produto/">Produtos</a></li>
                        <li><a href="/admin/">Administração</a></li>
                    </ul>
                </div>
            </div>
            
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">1 Caixa [Kg]</th>
                    <th scope="col">Total [Kg]</th>
                    <th scope="col">Fornecedor</th>
                  </tr>
                </thead>

                <tbody>

                    {% for produto in produtos %}
                        <tr>
                            <th scope="row">{{ produto.nome }}</th>
                            <td>{{ produto.estoque }}</td>
                            <td>{{ produto.peso_caixa }}</td>
                            <td>{{ produto.total }}</td>
                            <td>{{ produto.fornecedor }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>

        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>




        <!-- <div class="page-header">
            <h1>Compra Certa</h1>
        </div>
        <br>
        <p>Tabela de estoque atual</p>
        
    </body>
</html> -->