{% extends 'base.html' %}

    
{% block content %}
    
<!-- Header -->
<section class="clean-block clean-info dark" style="padding-bottom: 0px;text-align: center;">
    <div class="container">
        <div class="block-heading" style="padding-top: 20px;padding-bottom: 20px;text-align: center;margin-bottom: 0;">
            <h2 class="text-info" style="margin-bottom: 0;">ENTRADA DE PROTUDO</h2>
        </div>
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
    </div>
</section>

 <!-- Tabela de Estoque -->
<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading" style="padding-top: 20px;">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Selecione o Produto</th>
                            <th>Quantidade [Kg]</th>
                            <th>Fornecedor</th>
                            <th>Preço</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="{% url 'entrada' %}" method="POST">
                            {% csrf_token %}
                            <tr>
                                <td style="border-right-width: 1px;text-align: left; font-weight: bold;">
                                    <div class="form-group">
                                        <select class="form-control" id="produto" name="produto" required>
                                            {% for produto in produtos %}
                                                <option value="{{ produto.id }}">{{ produto.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td style="border-right-width: 1px;">
                                    <div class="form-group">
                                        <input type="number" class="form-control col-xs-2" id="quantidade" name="quantidade" required>
                                    </div>
                                </td>
                                <td style="border-right-width: 1px;">
                                    <div class="form-group">
                                        <select class="form-control" id="fornecedor" name="fornecedor" required>
                                            {% for fornecedor in fornecedores %}
                                                <option value="{{ fornecedor.id }}">{{ fornecedor.nome }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                                <td style="border-right-width: 1px;font-weight: bold;">
                                    <div class="form-group">
                                        <input type="number" class="form-control col-xs-2" id="preco" name="preco">
                                    </div>
                                </td>
                                <td>
                                    <!-- <button type="button" class="btn btn-primary">Confirmar</button> -->
                                    <input type="submit" value="Confirmar" class="btn btn-primary">
                                </td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}