{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Header -->
<section class="clean-block clean-info dark" style="padding-bottom: 0px;text-align: center;">
    <div class="container">
        <div class="block-heading" style="padding-top: 20px;padding-bottom: 20px;text-align: center;margin-bottom: 0;">
            <h2 class="text-info" style="margin-bottom: 0;">ANÁLISE DE ESTOQUE</h2>
        </div>
    </div>
</section>

 <!-- Tabela de Estoque -->
<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading" style="padding-top: 20px;">
            <div class="flourish-embed flourish-chart" data-src="visualisation/11522824"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
        </div>
    </div>
</section>

{% endblock %}